# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
ENV/
venv/

# Logs & runtime
logs/
*.log
data/
*.pid

# IDE/editor
.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

# OS/Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac/other
.DS_Store

# Test/coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Misc
*.bak
*.tmp
