# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.venv/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db

# Logs / Temp
*.log
*.tmp
*.bak
