repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff             # lint ONLY (niente formatter)
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black            # formatter unico
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml       # facoltativo ma utile
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --baseline
          - .secrets.baseline
          - --exclude-files
          - '(^site/|^TPI_site_skeleton_.*|^\.ruff_cache/|^\.secrets\.baseline$)'
default_language_version:
  python: python3