fastapi==0.120.1
uvicorn==0.38.0
starlette==0.48.0
pydantic==2.12.3
python-multipart==0.0.20
watchfiles==1.1.1
h11==0.16.0
httptools==0.7.1
websockets==15.0.1
anyio==4.11.0
typing_extensions==4.15.0
