<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{{ t["title"] }}</title>
    <link rel="stylesheet" href="/static/theme.css">
</head>
<body>
    <nav>
        <a href="/">{{ t["menu_home"] }}</a> |
        <a href="/about">{{ t["menu_about"] }}</a> |
        <a href="/dpi">{{ t["menu_dpi"] }}</a> |
        <a href="/funi_metalliche">{{ t["menu_funi"] }}</a> |
        <a href="/formazione">{{ t["menu_formazione"] }}</a>
    </nav>
    <h1>{{ t["title"] }}</h1>
</body>
</html>
