# .github/workflows/deploy-pages.yml
on:
  push:
    branches: [ main ]
    paths:
      - docs/**
      - mkdocs.yml
      - .github/workflows/deploy-pages.yml
      - requirements-docs.txt
  workflow_dispatch:
